<template>
    <div>
        <b-modal
            id="modal-consult-wallet"
            title="Verificar Saldo"
            no-close-on-backdrop
            hide-footer
        >
            <div class="container">
                <div class="row justify-content-center">
                    <form @submit.prevent="onSubmit">
                        <b-form-group
                            id="input-group-16"
                            label="ID:"
                            label-for="input-16"
                        >
                            <b-form-input
                                id="input-16"
                                v-model.trim="$v.form.cid.$model"
                                placeholder="Número de identificación..."
                                :state="!$v.form.cid.$invalid"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback
                                :state="!$v.form.cid.$invalid"
                            >
                                Ingrese su numero de indentificación
                            </b-form-invalid-feedback>
                        </b-form-group>
                        <b-form-group
                            id="input-group-17"
                            label="Telefono:"
                            label-for="input-17"
                        >
                            <b-form-input
                                id="input-17"
                                v-model.trim="$v.form.phone.$model"
                                placeholder="Número de Telefono..."
                                :state="!$v.form.phone.$invalid"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback
                                :state="!$v.form.phone.$invalid"
                            >
                                Ingrese su número de telefono
                            </b-form-invalid-feedback>
                        </b-form-group>
                        <b-button block variant="secondary" type="submit">
                            Verificar Billetera
                        </b-button>
                    </form>
                </div>
            </div>
        </b-modal>
    </div>
</template>
<script>
import { required } from "vuelidate/lib/validators";
import WalletService from "../../../services/walletService";
import {
    sendNotificationError,
    sendNotificationSuccess
} from "../../../helpers/notify";

function data() {
    return {
        form: {
            cid: "",
            phone: ""
        }
    };
}

function onSubmit() {
    this.$v.$touch();
    if (this.$v.$error) {
        sendNotificationError();
        throw "Existen errores, por favor, verifique.";
    }

    WalletService.consult(this.form)
        .then(response => {
            const { data } = response;
            const { json } = data;
            sendNotificationSuccess(
                "Consulta Exitosa",
                "Su saldo actual es de " + json.balance
            );
        })
        .catch(e => {
            sendNotificationError();
        });
}

export default {
    name: "consult-modal-wallet",
    data,
    methods: { onSubmit },
    validations: {
        form: {
            cid: { required },
            phone: { required }
        }
    }
};
</script>
