<template>
    <div>
        <b-modal
            id="modal-recharge-wallet"
            title="Recargar Saldo"
            no-close-on-backdrop
            hide-footer
        >
            <div class="container">
                <div class="row justify-content-center">
                    <form @submit.prevent="onSubmit">
                        <b-form-group
                            id="input-group-11"
                            label="ID:"
                            label-for="input-11"
                        >
                            <b-form-input
                                id="input-11"
                                v-model.trim="$v.form.cid.$model"
                                placeholder="Número de identificación..."
                                :state="!$v.form.cid.$invalid"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback
                                :state="!$v.form.cid.$invalid"
                            >
                                Ingrese su numero de indentificación
                            </b-form-invalid-feedback>
                        </b-form-group>
                        <b-form-group
                            id="input-group-12"
                            label="Telefono:"
                            label-for="input-12"
                        >
                            <b-form-input
                                id="input-12"
                                v-model.trim="$v.form.phone.$model"
                                placeholder="Número de Telefono..."
                                :state="!$v.form.phone.$invalid"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback
                                :state="!$v.form.phone.$invalid"
                            >
                                Ingrese su número de telefono
                            </b-form-invalid-feedback>
                        </b-form-group>
                        <b-form-group
                            id="input-group-13"
                            label="Monto a recargar:"
                            label-for="input-13"
                        >
                            <b-form-input
                                id="input-13"
                                v-model.trim="$v.form.value.$model"
                                placeholder="Monto..."
                                :state="!$v.form.value.$invalid"
                                required
                            ></b-form-input>
                            <b-form-invalid-feedback
                                :state="!$v.form.value.$invalid"
                            >
                                Ingrese su monto a recargar
                            </b-form-invalid-feedback>
                        </b-form-group>
                        <b-button block variant="secondary" type="submit">
                            Recargar
                        </b-button>
                    </form>
                </div>
            </div>
        </b-modal>
    </div>
</template>
<script>
import { required } from "vuelidate/lib/validators";
import { getDataDecrypt } from "../../../helpers/encrypt";
import WalletService from "../../../services/walletService";
import {
    sendNotificationError,
    sendNotificationSuccess
} from "../../../helpers/notify";

function data() {
    return {
        form: {
            cid: "",
            phone: "",
            value: ""
        }
    };
}

function onSubmit() {
    this.$v.$touch();
    if (this.$v.$error) {
        sendNotificationError();
        throw "Existen errores, por favor, verifique.";
    }

    const profile = getDataDecrypt("profile");
    const { wallet } = profile;

    WalletService.recharge(this.form, wallet.id)
        .then(response => {
            sendNotificationSuccess(
                "Recarga Existosa",
                "¡Ahora puede permitirse gastar su dinero!"
            );
        })
        .catch(e => {
            sendNotificationError();
        });
}

export default {
    name: "modal-recharge-wallet",
    data,
    methods: {
        onSubmit
    },
    validations: {
        form: {
            cid: { required },
            phone: { required },
            value: { required }
        }
    }
};
</script>
