<template>
    <div>
        <b-form @submit.prevent="onSubmit">
            <b-form-group
                id="input-group-1"
                label="Correo:"
                label-for="input-1"
            >
                <b-form-input
                    id="input-1"
                    v-model.trim="$v.form.email.$model"
                    placeholder="Correo electronico..."
                    :state="!$v.form.email.$invalid"
                    required
                ></b-form-input>
                <b-form-invalid-feedback :state="!$v.form.email.$invalid">
                    Ingrese su correo
                </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
                id="input-group-2"
                label="Contraseña:"
                label-for="input-2"
            >
                <b-form-input
                    id="input-2"
                    type="password"
                    v-model="$v.form.password.$model"
                    placeholder="Contraseña..."
                    :state="$v.form.password.required"
                    required
                ></b-form-input>
                <b-form-invalid-feedback :state="$v.form.password.required">
                    Ingrese su contraseña
                </b-form-invalid-feedback>
            </b-form-group>

            <b-button type="submit" variant="primary">Iniciar</b-button>
        </b-form>
    </div>
</template>
<script>
import { required, email } from "vuelidate/lib/validators";
import { getDataDecrypt, setDataDecrypt } from "../../helpers/encrypt";
import AuthService from "../../services/authServices";
import { sendNotificationError, sendNotification } from "../../helpers/notify";

function data() {
    return {
        form: {
            email: "",
            password: ""
        }
    };
}

function onSubmit() {
    if (getDataDecrypt("profile")) {
        sendNotification(
            "Usted ya esta logeado",
            "Primero cierre sessión antes de iniciar otra",
            "error"
        );
        throw "Usted ya esta logeado";
    }

    this.$v.$touch();
    if (this.$v.$error) {
        sendNotificationError();
        throw "Existen errores, por favor, verifique.";
    }

    AuthService.login(this.form)
        .then(response => {
            const { data } = response;
            const { access_token } = data;
            const { user } = data;
            setDataDecrypt("session", access_token);
            setDataDecrypt("profile", user);
            this.$appAuth = true;
            this.$router.push({
                name: "store"
            });
        })
        .catch(e => {
            sendNotificationError();
            throw e;
        });
}

export default {
    name: "login",
    data,
    methods: {
        onSubmit
    },
    validations: {
        form: {
            email: { required, email },
            password: { required }
        }
    }
};
</script>
