<template>
    <div>
        <b-form @submit.prevent="onSubmit">
            <b-form-group
                id="input-group-4"
                label="Nombre:"
                label-for="input-4"
            >
                <b-form-input
                    id="input-4"
                    v-model.trim="$v.form.name.$model"
                    placeholder="Nombre..."
                    required
                    :state="!$v.form.name.$invalid"
                ></b-form-input>
                <b-form-invalid-feedback :state="!$v.form.name.$invalid">
                    Ingrese su nombre (minimo 4 carácteres)
                </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
                id="input-group-8"
                label="Correo:"
                label-for="input-8"
            >
                <b-form-input
                    id="input-8"
                    v-model.trim="$v.form.email.$model"
                    placeholder="Correo electrónico..."
                    required
                    :state="!$v.form.email.$invalid"
                ></b-form-input>
                <b-form-invalid-feedback :state="!$v.form.email.$invalid">
                    Ingrese su correo
                </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
                id="input-group-5"
                label="Contraseña:"
                label-for="input-5"
            >
                <b-form-input
                    id="input-5"
                    type="password"
                    v-model="$v.form.password.$model"
                    placeholder="Contraseña..."
                    required
                    :state="!$v.form.password.$invalid"
                ></b-form-input>
                <b-form-invalid-feedback :state="!$v.form.password.$invalid">
                    Ingrese su contraseña
                </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
                id="input-group-6"
                label="Telefono:"
                label-for="input-6"
            >
                <b-form-input
                    id="input-6"
                    type="phone"
                    v-model="$v.form.phone.$model"
                    placeholder="Telefono..."
                    required
                    :state="!$v.form.phone.$invalid"
                ></b-form-input>
                <b-form-invalid-feedback :state="!$v.form.phone.$invalid">
                    Ingrese su telefono
                </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group id="input-group-7" label="ID:" label-for="input-7">
                <b-form-input
                    id="input-7"
                    type="phone"
                    v-model="$v.form.cid.$model"
                    placeholder="Número de identificación..."
                    required
                    :state="!$v.form.cid.$invalid"
                ></b-form-input>
                <b-form-invalid-feedback :state="!$v.form.cid.$invalid">
                    Ingrese su número de identificación
                </b-form-invalid-feedback>
            </b-form-group>

            <b-button type="submit" variant="primary">Registrarse</b-button>
        </b-form>
    </div>
</template>
<script>
import { required, email, minLength } from "vuelidate/lib/validators";
import AuthService from "../../services/authServices";
import {
    sendNotificationError,
    sendNotificationSuccess
} from "../../helpers/notify";

function data() {
    return {
        form: {
            email: "",
            password: "",
            phone: "",
            cid: "",
            name: ""
        }
    };
}

function onSubmit() {
    this.$v.$touch();
    if (this.$v.$error) {
        sendNotificationError();
        throw "Existen errores, por favor, verifique.";
    }

    AuthService.register(this.form)
        .then(response => {
            sendNotificationSuccess(
                "Registro Completado",
                "¡Ahora puede ingresar a nuestra web!"
            );
        })
        .catch(e => {
            sendNotificationError();
            throw e;
        });
}

export default {
    name: "register",
    data,
    methods: { onSubmit },
    validations: {
        form: {
            email: { required, email },
            name: { required, minLength: minLength(4) },
            phone: { required },
            cid: { required },
            password: { required }
        }
    }
};
</script>
