<template>
    <main>
        <sidebar />
        <notifications group="main" />
        <div class="container mained">
            <router-view></router-view>
        </div>
    </main>
</template>

<script>
import { getDataDecrypt } from "../helpers/encrypt";
import Sidebar from "./layouts/Sidebar";

function mountedApp() {
    const profile = getDataDecrypt("profile");
    if (profile) {
        this.$appAuth = true;
    }
}

export default {
    name: "app",
    components: { Sidebar },
    mounted: mountedApp
};
</script>
<style scoped>
.mained {
    margin-top: 1rem;
}
</style>
