<template>
    <div class="row justify-content-center">
        <div class="col-6">
            <login />
        </div>
        <div class="col-6">
            <register />
        </div>
    </div>
</template>
<script>
import Login from "./auth/Login";
import Register from "./auth/Register";

export default {
    name: "auth",
    components: { Login, Register }
};
</script>
