<template>
    <main>
        <notifications group="main" />
        <div>
            <b-card no-body class="text-center">
                <div class="bg-secondary text-light">
                    <b-button block variant="secondary" @click="onSubmit"
                        >Para confirmar su compra solo necesita dar click
                        aquí</b-button
                    >
                </div>
            </b-card>
        </div>
    </main>
</template>
<script>
import {
    sendNotificationError,
    sendNotificationSuccess
} from "../../helpers/notify";
import PaymentService from "../../services/paymentService";

function onSubmit() {
    const form = {
        token: this.token,
        session: this.session
    };

    PaymentService.buyObject(form)
        .then(response => {
            sendNotificationSuccess(
                "Compra Existosa",
                "¡Ha logrado comprar su objeto!"
            );
        })
        .catch(e => {
            sendNotificationError();
        });
}

export default {
    name: "confirm",
    props: { token: String, session: String },
    methods: { onSubmit }
};
</script>
