<template>
    <main>
        <vue-good-table :columns="columns" :rows="rows">
            <template slot="table-row" slot-scope="props">
                <div v-if="props.column.field == 'name'" class="text-center">
                    {{ props.row.name }}
                </div>

                <div
                    v-if="props.column.field == 'description'"
                    class="text-center"
                >
                    {{ props.row.description }}
                </div>

                <div
                    v-if="props.column.field == 'category'"
                    class="text-center"
                >
                    {{ props.row.category }}
                </div>

                <div v-if="props.column.field == 'cost'" class="text-center">
                    {{ props.row.cost }}
                </div>

                <div v-if="props.column.field == 'options'" class="text-center">
                    <b-button
                        variant="outline-primary"
                        squared
                        size="sm"
                        @click="sendConfirmBuy(props.row)"
                    >
                        Comprar
                    </b-button>
                </div>
            </template>
        </vue-good-table>
    </main>
</template>
<script>
import { getDataDecrypt } from "../../helpers/encrypt";
import { sendNotification, sendNotificationError } from "../../helpers/notify";
import PaymentService from "../../services/paymentService";

function data() {
    return {
        columns: [
            { label: "Nombre", field: "name" },
            { label: "Categoria", field: "category" },
            { label: "Descripción", field: "description" },
            { label: "Costo", field: "cost" },
            { label: "Opciones", field: "options" }
        ],
        rows: [
            {
                name: "Silla",
                category: "Hogar",
                description: "Silla #1",
                cost: 50
            },
            {
                name: "Cable",
                category: "Hogar",
                description: "Cable #1",
                cost: 35
            },
            {
                name: "Motosierra",
                category: "Arma",
                description: "Motosierra #1",
                cost: 505
            },
            {
                name: "Cocina",
                category: "Hogar",
                description: "Cocina a gas #1",
                cost: 150
            }
        ]
    };
}

function sendConfirmBuy(row) {
    const form = {
        product: row.name,
        value: row.cost
    };
    PaymentService.sendConfirm(form)
        .then(response => {
            sendNotification(
                "¡Email de Confirmación en espera!",
                "Hemos enviado un correo electronico con el cual podrá confirmar su compra.",
                "info"
            );
        })
        .catch(e => {
            if (getDataDecrypt("profile")) {
                sendNotificationError();
                throw e;
            }
            sendNotification(
                "Usuario no Autentificado",
                "Usted no esta logeado, por favor, antes de comprar, ingrese con su cuenta",
                "info"
            );
            this.$router.push({ name: "auth" });
        });
}

export default {
    name: "store",
    data,
    methods: {
        sendConfirmBuy
    }
};
</script>
