<template>
  <div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
        <li class="nav-item">
          <router-link to="/" class="nav-link">Inicio</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/store" class="nav-link"> Tienda </router-link>
        </li>
        <b-nav-item-dropdown text="Billetera" v-if="$appAuth" right>
          <b-dropdown-item v-b-modal="'modal-recharge-wallet'">
            Recargar Saldo
          </b-dropdown-item>
          <b-dropdown-item v-b-modal="'modal-consult-wallet'">
            Consultar Saldo
          </b-dropdown-item>
          <b-dropdown-item href="" @click="logout"
            >Cerrar Sesión</b-dropdown-item
          >
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
    <modal-recharge-wallet />
    <consult-modal-wallet />
  </div>
</template>
<script>
import ModalRechargeWallet from "./modal/recharge-modal-wallet";
import ConsultModalWallet from "./modal/consult-modal-wallet";

function logout() {
  this.$appAuth = false;
  localStorage.clear();
  this.$router.push({
    name: "auth",
  });
}

export default {
  name: "sidebar",
  components: { ModalRechargeWallet, ConsultModalWallet },
  methods: {
    logout,
  },
};
</script>
